Repository stackrox/operator-index: changes, and which Tekton pipelines are due for each by the changed paths.
All: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

operator-index-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: openshift-version
    value: v4.12
  - name: output-image
    value: quay.io/rhacs-eng/stackrox-operator-index:ocp-v4-12-{{revision}}-fast
  - name: image-expires-after
    value: 5d
  - name: path-context
  ...

operator-index-ocp-v4-16-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: openshift-version
    value: v4.16
  - name: output-image
    value: quay.io/rhacs-eng/stackrox-operator-index:ocp-v4-16-{{revision}}-fast
  - name: image-expires-after
    value: 5d
  workspaces:
  ...

Fix component labels.
  .tekton/operator-index-ocp-v4-16-pull-request.yaml
  .tekton/operator-index-ocp-v4-16-push.yaml
Due: operator-index-ocp-v4-16-on-pull-request

Set expiry to a year.
  .tekton/operator-index-ocp-v4-12-pull-request.yaml
  .tekton/operator-index-ocp-v4-12-push.yaml
  .tekton/operator-index-ocp-v4-16-pull-request.yaml
  .tekton/operator-index-ocp-v4-16-push.yaml
  .tekton/operator-index-pipeline.yaml
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

Keep 500 runs.
  .tekton/operator-index-ocp-v4-12-pull-request.yaml
  .tekton/operator-index-ocp-v4-12-push.yaml
  .tekton/operator-index-ocp-v4-16-pull-request.yaml
  .tekton/operator-index-ocp-v4-16-push.yaml
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

Add pipelines for OpenShift v4.16. (#7)
  .tekton/operator-index-ocp-v4-12-push.yaml
  .tekton/operator-index-ocp-v4-16-pull-request.yaml
  .tekton/operator-index-ocp-v4-16-push.yaml
  .tekton/operator-index-pipeline.yaml
  common/Containerfile.catalog
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

Use OCI-TA tasks.
  .tekton/operator-index-pipeline.yaml
Due: none

trigger checks on pipeline change too
  .tekton/operator-index-ocp-v4-12-pull-request.yaml
  .tekton/operator-index-ocp-v4-16-pull-request.yaml
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

fix indentation
  .tekton/operator-index-ocp-v4-12-push.yaml
  .tekton/operator-index-ocp-v4-16-push.yaml
Due: none

drop pathChanged optimizations
  .tekton/operator-index-ocp-v4-12-pull-request.yaml
  .tekton/operator-index-ocp-v4-16-pull-request.yaml
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

drop explicit runAfter when an implicit should do
  .tekton/operator-index-pipeline.yaml
Due: none

output-image -> output-image-tag
  .tekton/operator-index-ocp-v4-12-pull-request.yaml
  .tekton/operator-index-ocp-v4-12-push.yaml
  .tekton/operator-index-ocp-v4-16-pull-request.yaml
  .tekton/operator-index-ocp-v4-16-push.yaml
  .tekton/operator-index-pipeline.yaml
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

drop netrc workspace
  .tekton/operator-index-pipeline.yaml
Due: none

make git-auth workspace mandatory
  .tekton/operator-index-pipeline.yaml
Due: none

arch-specific tag and task name for arch-specific image
  .tekton/operator-index-pipeline.yaml
Due: none

ROX-26524: Use OCI-TA tasks. (#8)
  .tekton/operator-index-ocp-v4-12-pull-request.yaml
  .tekton/operator-index-ocp-v4-12-push.yaml
  .tekton/operator-index-ocp-v4-16-pull-request.yaml
  .tekton/operator-index-ocp-v4-16-push.yaml
  .tekton/operator-index-pipeline.yaml
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

Merge PR and push PipelineRuns.
  .tekton/operator-index-ocp-v4-12-pull-request.yaml
  .tekton/operator-index-ocp-v4-12.yaml
  .tekton/operator-index-ocp-v4-16-push.yaml
  .tekton/operator-index-ocp-v4-16.yaml
Due: operator-index-on-pull-request

rename pipelineruns and run on PRs against non-master
  .tekton/operator-index-ocp-v4-12-build.yaml
  .tekton/operator-index-ocp-v4-16-build.yaml
Due: none

Merge PR and push PipelineRuns. (#9)
  .tekton/operator-index-ocp-v4-12-build.yaml
  .tekton/operator-index-ocp-v4-12-pull-request.yaml
  .tekton/operator-index-ocp-v4-16-build.yaml
  .tekton/operator-index-ocp-v4-16-push.yaml
Due: operator-index-on-pull-request

Add opm download URL to README.
  README.md
Due: none

Add validation command to README.
  README.md
Due: none

Reformat `.tekton/*.yaml` files
  .tekton/operator-index-ocp-v4-12-build.yaml
  .tekton/operator-index-ocp-v4-16-build.yaml
Due: none

Add .idea directory to .gitignore
  .gitignore
Due: none

Add blank lines in .tekton yamls for easier visual separation
  .tekton/operator-index-ocp-v4-12-build.yaml
  .tekton/operator-index-ocp-v4-16-build.yaml
  .tekton/operator-index-pipeline.yaml
Due: none

Break parameter descriptions after 120 characters
  .tekton/operator-index-pipeline.yaml
Due: none

Save one line per each `when` expression
  .tekton/operator-index-pipeline.yaml
Due: none

Rename Containerfile.catalog -> catalog.Containerfile
  .tekton/operator-index-pipeline.yaml
  common/catalog.Containerfile
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

Reformat YAML files again
  .editorconfig
  .tekton/operator-index-ocp-v4-12-build.yaml
  .tekton/operator-index-ocp-v4-16-build.yaml
  .tekton/operator-index-pipeline.yaml
Due: none

Refine comment around ij_ settings meaning
  .editorconfig
Due: none

chore: Improve cosmetics of Tekton stuff (#12)
  .editorconfig
  .gitignore
  .tekton/operator-index-ocp-v4-12-build.yaml
  .tekton/operator-index-ocp-v4-16-build.yaml
  .tekton/operator-index-pipeline.yaml
  common/catalog.Containerfile
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

do not skip index building
  .tekton/operator-index-pipeline.yaml
Due: none

Build on arm64 ppc64le and s390x too.
  .tekton/operator-index-pipeline.yaml
Due: none

Red Hat Konflux update operator-index-ocp-v4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-index-ocp-v4-13-pull-request.yaml
  .tekton/operator-index-ocp-v4-13-push.yaml
Due: none

Red Hat Konflux update operator-index-ocp-v4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-index-ocp-v4-14-pull-request.yaml
  .tekton/operator-index-ocp-v4-14-push.yaml
Due: none

Red Hat Konflux update operator-index-ocp-v4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-index-ocp-v4-15-pull-request.yaml
  .tekton/operator-index-ocp-v4-15-push.yaml
Due: none

Red Hat Konflux update operator-index-ocp-v4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-index-ocp-v4-17-pull-request.yaml
  .tekton/operator-index-ocp-v4-17-push.yaml
Due: none

Remove stock pipelines.
  .tekton/operator-index-ocp-v4-13-pull-request.yaml
  .tekton/operator-index-ocp-v4-13-push.yaml
  .tekton/operator-index-ocp-v4-14-pull-request.yaml
  .tekton/operator-index-ocp-v4-14-push.yaml
  .tekton/operator-index-ocp-v4-15-pull-request.yaml
  .tekton/operator-index-ocp-v4-15-push.yaml
  .tekton/operator-index-ocp-v4-17-pull-request.yaml
  .tekton/operator-index-ocp-v4-17-push.yaml
Due: none

move ARG around
  common/catalog.Containerfile
Due: operator-index-on-pull-request, operator-index-ocp-v4-16-on-pull-request

ROX-26520: Build on arm64 ppc64le and s390x too. (#14)
  .tekton/operator-index-pipeline.yaml
Due: none

Path conditions:
  operator-index-on-pull-request: (any of: common/***) or (any of: .tekton/operator-index-ocp-v4-12-pull-request.yaml)
  operator-index-ocp-v4-16-on-pull-request: (any of: common/***) or (any of: .tekton/operator-index-ocp-v4-16-pull-request.yaml)
